.nav_slideup1 {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.nav_slideup2 {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .12s;
          animation-delay: .12s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.nav_slideup3 {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .18s;
          animation-delay: .18s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.reverse {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  animation-direction: reverse !important;
}

.nav_slideup4 {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.nav_slidedown {
  -webkit-animation: .7s slidedown;
          animation: .7s slidedown;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.animate-projects {
  -webkit-animation: 1s animate-projects;
          animation: 1s animate-projects;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
    opacity: 1;
  }
}

@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(13rem);
            transform: translateY(13rem);
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(13rem);
            transform: translateY(13rem);
  }
}

@-webkit-keyframes animate-projects {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

@keyframes animate-projects {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

.project img {
  -webkit-animation: 1.3s floating infinite;
          animation: 1.3s floating infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: rotateY(0deg) translate(80px, 55px) scale(1.58);
            transform: rotateY(0deg) translate(80px, 55px) scale(1.58);
  }
  100% {
    -webkit-transform: rotateY(15deg) translate(82px, 60px) scale(1.6);
            transform: rotateY(15deg) translate(82px, 60px) scale(1.6);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: rotateY(0deg) translate(80px, 55px) scale(1.58);
            transform: rotateY(0deg) translate(80px, 55px) scale(1.58);
  }
  100% {
    -webkit-transform: rotateY(15deg) translate(82px, 60px) scale(1.6);
            transform: rotateY(15deg) translate(82px, 60px) scale(1.6);
  }
}

.nav_area_down {
  height: 100%;
  -webkit-animation: all 2s;
          animation: all 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.show {
  -webkit-animation: 2.5s show;
          animation: 2.5s show;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 1.5rem 0;
  color: black;
  font-family: "Montserrat" !important;
}

a {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: yellow;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  body {
    padding: 5rem 10rem;
  }
}

.project {
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 300rem;
}

.project__pack {
  opacity: 0;
  height: 40rem;
  background: red;
  border-radius: 2rem;
  padding: 2rem 1rem;
}

.project__pack#card1 {
  background: #1F2D64;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card2 {
  background: #9D98CA;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card3 {
  background: #96DB69;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card4 {
  background: #0a5e35;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card5 {
  background: #9D98CA;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card6 {
  background: #1F2D64;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack--card {
  position: relative;
}

.project__pack--card h2 {
  font-size: 3rem;
  font-weight: 700;
}

.project__pack--card p {
  font-size: 1.2rem;
  font-weight: 500;
}

.project__pack--card div {
  margin-left: 3.5rem;
}

.project__pack--card img {
  position: relative;
  -webkit-transform: translate(80px, 55px) scale(1.6);
          transform: translate(80px, 55px) scale(1.6);
}

.section {
  padding: 2.4rem;
}

.section h2 {
  font-weight: 700;
  font-size: 3rem;
}

.section p {
  font-size: 1.4rem;
}

.review {
  padding: 2.4rem;
  margin: 0;
}

.review h2 {
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
}

.review__comment {
  background: #f7f6f6;
  border-radius: 1rem;
  margin: 0;
  margin-top: 3rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.review__comment p {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.review__comment p span {
  padding: 0;
  font-weight: 500;
}

.review__comment .fa {
  color: #eee;
}

.review__comment p:last-child {
  font-weight: 100;
  font-size: 1.4rem;
}

.review__comment .checked {
  color: #e2ab97;
}

@media (min-width: 576px) {
  .section {
    padding: 2.4rem;
  }
  .section h2 {
    font-weight: 700;
    font-size: 3rem;
  }
  .project {
    height: 155rem;
  }
}

@media (min-width: 768px) {
  .project {
    height: 150rem;
  }
  .section {
    padding: 2.4rem;
  }
  .section h2 {
    font-weight: 700;
    font-size: 4rem;
  }
  .section p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .project {
    height: 170rem;
  }
}

@media (min-width: 1200px) {
  .project {
    height: 110rem;
  }
}

.cta {
  padding: 3rem;
  margin: 1.5rem -1.5rem;
  background: #f7f6f6;
}

.cta__text h2 {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.cta__text p {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 500;
}

.cta__text div span {
  text-align: center;
}

.cta__btn {
  text-align: center;
}

.cta__btn button {
  border: 1px solid black;
  background: transparent;
  width: 55%;
  padding: .8rem .6rem;
}

.cta__btn button a {
  color: black;
}

@media (min-width: 576px) {
  .cta {
    padding: 3rem 3rem 3rem 3rem;
  }
  .cta__text h2 {
    font-weight: 700;
    text-align: center;
  }
  .cta__text p {
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  .cta__text div span {
    text-align: center;
  }
  .cta__btn {
    margin-top: 5rem;
  }
}

@media (min-width: 768px) {
  .cta {
    padding: 3rem 3rem 3rem;
    margin: 0 -3rem 2rem -3rem;
  }
  .cta__btn {
    margin-top: 5rem;
  }
  .cta__text {
    padding: 2rem;
  }
  .cta__text h2 {
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
  }
  .cta__text p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  .cta__text div span {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .cta {
    padding: 3rem 13rem 3rem;
    margin: 0 -13rem 2rem -13rem;
  }
  .cta__text h2 {
    font-size: 5rem;
  }
  .cta__text p {
    font-size: 1.6rem;
  }
}

.footer {
  background: black;
  margin: -1.5rem;
  color: white;
  padding: 6rem 2rem 3rem;
  font-weight: 600;
}

.footer div {
  text-align: center;
}

.footer div h2 {
  font-size: 4.5rem;
  text-align: center;
}

.footer div {
  text-align: center;
}

.footer div span {
  display: inline-block;
  margin-right: .7rem;
  font-size: 1.25rem;
  padding: 0;
}

.footer .two:nth-child(2) {
  margin-top: 8rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .footer {
    margin: -5rem -3rem;
    padding: -5rem;
    padding: 12rem 2rem 3rem;
  }
}

@media (min-width: 992px) {
  .footer {
    margin: -5rem -10rem;
  }
}

.header {
  display: block;
  position: relative;
  height: 90vh;
}

.header > img {
  position: absolute;
  right: 1rem;
  margin-top: .5rem;
}

.header__navIcon {
  position: absolute;
  right: 1rem;
  top: .4rem;
  z-index: 3;
  cursor: pointer;
  padding: 1rem 0 1rem 2rem;
}

.header__navIcon--bar {
  height: .2rem;
  width: 2rem;
  background-color: black;
  display: inline-block;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.header__navIcon--bar::before, .header__navIcon--bar::after {
  position: absolute;
  right: 0;
  content: "";
  background: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__navIcon--bar::before {
  height: .2rem;
  width: 3rem;
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

.header__navIcon--bar::after {
  height: .2rem;
  width: 2.4rem;
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

.header__navIcon.open .header__navIcon--bar {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  top: 0px;
}

.header__navIcon.open .header__navIcon--bar::before {
  -webkit-transform: translate(45px, 1px) rotate(-45deg);
          transform: translate(45px, 1px) rotate(-45deg);
  background: white;
  width: 2rem;
}

.header__navIcon.open .header__navIcon--bar::after {
  -webkit-transform: translate(45px, 1px) rotate(45deg);
          transform: translate(45px, 1px) rotate(45deg);
  background: white;
  width: 2rem;
}

.header__text {
  display: block;
  font-size: 1rem;
  position: relative;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__text span {
  display: block;
}

.header__text span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__text span:nth-child(2) {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: .3rem;
}

@media (min-width: 768px) {
  .header__text span:nth-child(2) {
    font-size: 8rem;
  }
}

.header__text p {
  font-size: 1.5vw;
  margin-top: 4rem;
}

.header__social {
  position: absolute;
  bottom: 0;
  left: 1.4rem;
}

.header__social i {
  font-size: 1.7rem;
  display: block;
  color: #666;
  margin-top: .5rem;
}

.header__scroll {
  position: absolute;
  bottom: 2.3rem;
  right: -1.5rem;
  font-size: 1.7rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.header__scroll span {
  padding-left: 1.7rem;
  font-weight: 800;
}

.header__logo {
  display: inline-block;
  position: absolute;
  left: 1rem;
}

.header__logo-text {
  font-weight: 800;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 8.4rem;
  left: -2rem;
  font-size: 2rem;
}

div#menu {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 0%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

div#menu a img {
  position: absolute;
  left: 2.5rem;
  top: 5rem;
}

div#menu #close-ico {
  font-size: 4rem;
  position: absolute;
  right: 4rem;
  color: white;
  top: 3rem;
}

div#menu div {
  -webkit-transform: translate(0, 15vh);
          transform: translate(0, 15vh);
  margin: 0;
  margin-left: 1rem;
}

div#menu div #link a {
  font-weight: 700;
  font-size: 4rem;
  padding: 1rem;
  display: block;
}

div#menu div #social a {
  font-size: 2rem;
  display: block;
  margin-top: 2.2rem;
}

div#menu div p {
  margin-top: 1rem;
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  div#menu div {
    -webkit-transform: translate(0, 15vh);
            transform: translate(0, 15vh);
  }
  div#menu div #social a {
    font-weight: 700;
    padding: .1rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  div#menu a img {
    left: 4rem;
    top: 3rem;
  }
  div#menu div {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  div#menu div #link a {
    font-size: 7rem;
  }
  div#menu div #social a {
    font-size: 3rem;
  }
  div#menu div:nth-child(2) {
    margin-top: 5rem;
  }
}

@media (min-width: 992px) {
  div#menu a img {
    left: 11rem;
    top: 5rem;
  }
  div#menu div {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  div#menu div #link a {
    font-size: 7rem;
  }
  div#menu div #social a {
    font-size: 3rem;
    margin-top: 2.2rem;
  }
}

.team {
  margin: 2rem;
}

.team > h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}

.team p {
  font-size: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}

.team p.hr {
  border-bottom: .1rem solid red;
}

.team > div {
  padding-left: 0;
  padding-right: 0;
}

.team > div > div {
  margin-bottom: 3rem;
}

.team > div > div .contain {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.team > div > div .contain img {
  display: block;
  margin: auto;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.team > div > div .contain .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: rgba(97, 97, 99, 0.466);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.team > div > div .contain .overlay .text {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: 800;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.team > div > div .contain:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team > div > div .contain:hover .overlay {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team > div > div .contain:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team > div > div h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;
  margin-top: .8rem;
}

.team > div > div h3 p {
  font-size: 1.2rem;
  font-weight: initial;
}

.section__expertise {
  margin: 2rem;
}

.section__expertise h2 {
  padding-left: 0;
  padding-right: 0;
  font-size: 3rem;
  font-weight: 700;
}

.section__expertise p {
  font-size: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}

.section__expertise section {
  font-size: 1.4rem;
}

.section__expertise section ul {
  margin-left: 2rem;
  font-weight: 600;
}

.section__clients {
  margin: 2rem;
}

.section__clients h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}

.section__clients p {
  font-size: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}

.section__clients span {
  font-size: initial;
  font-weight: 500;
}

.section__clients--card {
  padding: 1rem 0;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.section__clients--card img {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .team > h2 {
    font-size: 4rem;
  }
  .team p {
    font-size: 1.5rem;
  }
  .team > div h3 {
    font-size: 1.4rem;
  }
  .team > div h3 p {
    font-size: 1.2rem;
  }
  .section__clients h2 {
    font-size: 4rem;
  }
  .section__clients p {
    font-size: 1.5rem;
  }
  .section__expertise h2 {
    font-size: 4rem;
  }
  .section__expertise p {
    font-size: 1.5rem;
  }
  .section__expertise section {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .team > h2 {
    font-size: 5rem;
  }
  .team p {
    font-size: 1.6rem;
  }
  .team > div h3 {
    font-size: 1.4rem;
  }
  .team > div h3 p {
    font-size: 1.2rem;
  }
  .section__clients h2 {
    font-size: 5rem;
  }
  .section__clients p {
    font-size: 1.6rem;
  }
  .section__expertise h2 {
    font-size: 5rem;
  }
  .section__expertise p {
    font-size: 1.6rem;
  }
  .section__expertise section {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */