@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 1.5rem;
  font-family: Montserrat_Regular;
}

@media (min-width: 768px) {
  body {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  body {
    padding: 5rem 10rem;
  }
}

@font-face {
  font-family: Montserrat_xLight;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: Montserrat_Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat_Bold;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Montserrat_SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat_Medium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.project {
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 300rem;
}

.project__pack {
  height: 40rem;
  background: red;
  border-radius: 2rem;
  padding: 2rem 1rem;
}

.project__pack#card1 {
  background: #1F2D64;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card2 {
  background: #9D98CA;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card3 {
  background: #96DB69;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card3 img {
  -webkit-transform: translate(56px, 88px) scale(1.8);
          transform: translate(56px, 88px) scale(1.8);
}

.project__pack#card4 {
  background: #0a5e35;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card4 img {
  -webkit-transform: translate(80px, 59px) scale(1.8);
          transform: translate(80px, 59px) scale(1.8);
}

.project__pack#card5 {
  background: #9D98CA;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card6 {
  background: #1F2D64;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project__pack#card6 img {
  -webkit-transform: translate(108px, 84px) scale(1.9);
          transform: translate(108px, 84px) scale(1.9);
}

.project__pack--card {
  position: relative;
}

.project__pack--card h2 {
  font-size: 3rem;
  font-family: Montserrat_Bold;
}

.project__pack--card p {
  font-size: 1.2rem;
  font-family: Montserrat_Medium;
}

.project__pack--card div {
  margin-left: 3.5rem;
}

.project__pack--card img {
  position: relative;
  -webkit-transform: translate(80px, 55px) scale(1.6);
          transform: translate(80px, 55px) scale(1.6);
}

.section {
  padding: 2.4rem;
}

.section h2 {
  font-family: Montserrat_Bold;
  font-size: 5rem;
}

.section p {
  font-size: 1.4rem;
}

.review {
  padding: 2.4rem;
  margin: 0;
}

.review h2 {
  font-family: Montserrat_Bold;
  font-size: 2.2rem;
  text-align: center;
}

.review__comment {
  background: #f7f6f6;
  border-radius: 1rem;
  margin: 0;
  margin-top: 3rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.review__comment p {
  font-family: Montserrat_Bold;
  margin-top: 1.5rem;
}

.review__comment p span {
  padding: 0;
  font-family: Montserrat_Medium;
}

.review__comment .fa {
  color: #eee;
}

.review__comment p:last-child {
  font-family: inherit;
}

.review__comment .checked {
  color: #e2ab97;
}

@media (min-width: 576px) {
  .project {
    height: 200rem;
  }
}

@media (min-width: 768px) {
  .project {
    height: 150rem;
  }
}

@media (min-width: 992px) {
  .project {
    height: 170rem;
  }
}

@media (min-width: 1200px) {
  .project {
    height: 110rem;
  }
}

.cta {
  padding: 3rem;
  margin: 1.5rem -1.5rem;
  background: #f7f6f6;
}

.cta__text {
  padding: 2rem;
}

.cta__text h2 {
  font-family: Montserrat_Bold;
  text-align: center;
}

.cta__text p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.cta__text div span {
  text-align: center;
}

.cta__btn {
  text-align: center;
}

.cta__btn button {
  border: 1px solid black;
  background: transparent;
}

.cta__btn button a {
  color: black;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  height: 100vh;
  display: block;
  width: 100%;
  z-index: 4;
}

.footer {
  background: black;
  margin: -1.5rem;
  color: white;
  padding: 6rem 2rem 3rem;
  font-family: Montserrat_SemiBold;
}

.footer div {
  text-align: center;
}

.footer div h2 {
  font-size: 4.5rem;
  text-align: center;
}

.footer div {
  text-align: center;
}

.footer div span {
  display: inline-block;
  margin-right: .7rem;
  font-size: 1.25rem;
  padding: 0;
}

.footer .two:nth-child(2) {
  margin-top: 8rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .footer {
    margin: -5rem -3rem;
    padding: -5rem;
  }
}

@media (min-width: 992px) {
  .footer {
    margin: -5rem -10rem;
  }
}

.header {
  display: block;
  position: relative;
  height: 90vh;
}

.header__text {
  display: block;
  font-size: 1rem;
  position: relative;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__text span {
  display: block;
}

.header__text span:not(:last-child) {
  margin-bottom: 3rem;
}

.header__text span:nth-child(1) {
  font-family: Montserrat_SemiBold;
  font-size: 1.6rem;
}

.header__text span:nth-child(2) {
  font-size: 5.5rem;
  font-family: Montserrat_Bold;
  letter-spacing: .3rem;
}

@media (min-width: 768px) {
  .header__text span:nth-child(2) {
    font-size: 8rem;
  }
}

.header__social {
  position: absolute;
  bottom: 0;
  left: 1.4rem;
}

.header__social i {
  font-size: 1.7rem;
  display: block;
  color: #666;
  margin-top: .5rem;
}

.header__scroll {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  font-size: 1.7rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.header__scroll span {
  padding-left: 1.7rem;
  font-weight: 900;
}

.header__logo {
  display: inline-block;
  position: absolute;
  left: 1rem;
}

.header__logo-text {
  font-weight: 1000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 8.4rem;
  left: -1.9rem;
  font-size: 2rem;
}

.header__navIcon a {
  color: black;
}

.header__navIcon span {
  margin-top: 1.5rem;
  border: .4px solid;
  width: 1.5rem;
  display: inline-block;
  position: absolute;
  right: 10px;
  text-align: right;
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.header__navIcon span::after {
  content: "";
  position: absolute;
  top: .6rem;
  right: 0;
  width: 2rem;
  margin-bottom: 5px;
  border: .5px solid;
  -webkit-animation-name: fall;
          animation-name: fall;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.header__navIcon span::before {
  content: "";
  position: absolute;
  top: -.6rem;
  right: 0;
  width: 3rem;
  margin-bottom: 5px;
  border: .5px solid;
  opacity: 1;
  -webkit-animation-name: rise;
          animation-name: rise;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.header__navIcon--bar {
  display: block;
  margin: .7rem 0  .6rem;
  border-top: .23rem solid black;
  position: relative;
}

.header__navIcon--bar.middle {
  width: 60%;
  margin-left: 2rem;
}

.header__navIcon--bar.bottom {
  width: 80%;
  margin-left: 1rem;
}
