$blue: #1F2D64;
$purple: #9D98CA;
$lemongreen: #96DB69;
$darkgreen: #0a5e35;

$light: Montserrat_xLight;
$Bold: Montserrat_Bold;
$Medium: Montserrat_Medium;
$Semi_Bold: Montserrat_SemiBold;
$Regular: Montserrat_Regular;
