.footer{
    background: black;
    margin: -1.5rem;
    color: white;
    padding: 6rem 2rem 3rem;
    // height: 20rem; 
    font-weight: $Semi_Bold;
    
    div {
        text-align: center;
        h2{
        font-size: 4.5rem;
        text-align: center;

        

    }
        
        
    }

    div{
        text-align: center;

        span{
            display: inline-block;
            margin-right: .7rem;
            font-size: 1.25rem;
            padding: 0;
        }
    }

    & .two:nth-child(2){
        margin-top: 8rem;
        margin-right: 2rem;
        margin-left: 2rem;

    }
}

@media (min-width: 768px){
    .footer{
        margin: -5rem -3rem;
        padding: -5rem;
        padding: 12rem 2rem 3rem;
    }
}

@media (min-width: 992px){
    .footer{
        margin: -5rem -10rem
    }
}