.footer{
    background: black;
    margin: -1.5rem;
    color: white;
    padding: 10rem 2rem 1rem;
    // height: 20rem; 
    font-family: $Semi_Bold;
    
    div {

        h2{
        font-size: 3rem;
        text-align: center;

        div{

            span{
                // display: inline-block;
                margin: 0 .5rem;
            }
        }

    }
        
        
    }
}

@media (min-width: 768px){
    .footer{
        margin: -5rem -10rem
    }
}