.headerGiftr{

    background-image: url("../../assets/Giftr/giftr_circlefade2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 3rem 0;

    &__container{
        position: relative;

        display: block;
        height: 67rem;

        &__choco-image{
            position: absolute;
            right: -3rem;
            top: 8rem;
            width: 60%;

            @media (min-width: 992px){
                width: 45%;



            }
        }

        &__navIcon{

            position: absolute;
            right: 1rem;
            top: .4rem;
            z-index: 3;
            // padding: .1rem;
            cursor: pointer;
    
            padding: 1rem 0 1rem 2rem;
    
            &--bar{
                height: .2rem;
                width: 2rem;
                background-color: black;
                // border-radius: 35%;
                display: inline-block;
                transition: all .7s ease-in-out;
            }
            
            &--bar::before, &--bar::after{
                position: absolute;
                right: 0;
                content: "";
                background: black;
    
                // border-radius: 25%;
                transition: all .5s ease-in-out;
            }
            
            &--bar::before{
                height: .2rem;
                width: 3rem;
                transform: translateY(-.6rem);
            }
            
            &--bar::after{
                height: .2rem;
                width:2.4rem;
                
                transform: translateY(.6rem);
            }
            
            &.open &--bar{
                transform: translateX(-50px);
                background: transparent;
                top: 0px;
            }
            
            &.open &--bar::before{
                transform: translate(45px, 1px) rotate(-45deg);
                background: white;
                width: 2rem;
            }
            
            &.open &--bar::after{
                transform: translate(45px, 1px) rotate(45deg);
                background: white;
                width: 2rem;
            }
            
            
        }

        &__social{
            position: absolute;
            bottom: 0;
            left:1.4rem;
    
            i{
                font-size: 1.7rem;
                display:block;
                color: #666;
                margin-top: .5rem;
            }
        }
        
    
        &__navLink{
            position: absolute;
            font-size: 1.6rem;
            right: 0;
    
            a{
                color: black;
            }
        }
        
        &__text {

            display: block;
            position: relative;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

    
            & span{
                display: block;
            }
    
            & span:nth-child(1){
                font-size: 5.5rem;
                font-weight: $Bold;
                letter-spacing: .3rem;
                text-align: center;
    
                @media (min-width:576px){
                    text-align: left;    
                }

                @media (min-width:768px){
                    font-size: 7rem;
                }

                @media (min-width:992px){
                    font-size: 10rem;    
                }
            }

            & span:nth-child(2){
                font-size: 1.5rem;
                text-align: center;
                font-weight: 100;
                
                
                @media (min-width:576px){
                    font-weight: 300;
                    font-size: 1.6rem;
                    text-align: left;
                    width: 50%;
    
                }
            }
    
            p{
            font-size: 1.5vw;
            margin-top: 4rem;
            }

            @media (min-width:576px){
                margin-left: 4rem;
                

            }
            @media (min-width:768px){
                padding-left: 10%;
                font-size: 8rem

            }
    
        }
    
        &__scroll{
            position: absolute;
            top: 35.3rem;
            left:-1.5rem;
            font-size: 1.7rem;
            transform: rotate(-90deg);
            cursor: pointer;
            span{
                padding-left: 1.7rem;
                font-weight: $Extra_Bold;
            }
        }
    
    
        &__logo{
            display: inline-block;
            position: absolute;
        }
    
        svg{
            position: absolute;
            top: 0;
            z-index: -1;
            left: 3rem;
        }
    }

    
}

.how{
    margin-top: 5rem;
    padding: 3rem 3rem 0;
    font-size: 1.4rem;
    // color: white;

    &__container{

        margin: 0;
        padding: 0;

        h2{
            color: #F10001;
            font-weight: 800;

            i{
                color: initial;
            }
        }

        
        &--box{
            margin-top: 4rem;
            border-radius: 2rem;
            padding: 3rem;

            img{
                display: block;
                margin: auto;
            }

            p{
                width: 90%;
                margin-top: 4rem;
                // font-weight: 00;

            }

            .white_text{
                color: white;
            }
        
        }

        @media (min-width:576px){
            // margin-left: 4rem;

        }
    
    }

    

}

.rating{
    color: rgb(80, 79, 79);
    text-align: center;
    padding: 3rem 3rem 1rem;

    &__container{
        
        &--item{

            margin-top: 6rem;
            
            p{
                font-size: 5rem;
                line-height: 1.5rem;
                margin-top: 3rem;
                font-weight: 800;
            }
            
            span{
                font-size: 1.6rem;
                color: red;
            
                

            }
        }
    }
}

.surprise{

    padding: 3rem 3rem 1rem;
    font-size: 1.6rem;
    &__container{
        margin: 0;
        padding: 0;

        &--img{
            margin: 0;
            padding: 0;

            img{
                margin-top: 2rem;
            }
        }

        &--text{

            padding: 0;

            h2{
                font-size: 4rem;
                font-weight: 700;
            }

            

            span{
                color: red;

            }

            p{
                width: 90%;
            }
            
        }

        @media (min-width:576px){
            // margin-left: 4rem;

        }
    }


}

.plans{
    padding: 3rem 3rem 1rem;
    background-color: #F10001;
    color: white;
    background-image: url("../../assets/Giftr/hand.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;

    &__container{
        width: 70%;
        margin: auto;
        // margin-left: 5rem;
        padding: 0;
        padding-top: 2rem;

        &--item{
            padding-bottom: 4rem;
            margin-bottom: 4rem;
            border-bottom: 2px solid white;

            @media(min-width:576px){
                border-bottom: none;
                margin-bottom: 0;
                border-right: .25rem solid #EB5B5B;
                
                &:last-child{
                    border-right: none;
                    
                }
            }

            h2{
                font-size: 6rem;
                font-weight: 800;
                line-height: 3rem;

                @media(min-width:576px){
                    // font-size: 8rem;
                    line-height: 5rem;
                }

                @media(min-width:768px){
                    font-size: 7rem;
                    line-height: 5rem;
                }
            }
            
            p{
                font-size: 2rem;
                font-weight: 600;

                @media(min-width:576px){
                    font-size: 2rem;
                }
            }

            button{
                width: 8rem;
                padding: .6rem 3rem;
                font-size: 1.6rem;
                margin-top: 4rem;
            }

        }

        @media(min-width: 576px){
            width: 100%;
            margin: 0;
        }

        @media(min-width: 768px){
            width:100%;
            margin: 0;
        }

        @media(min-width: 992px){
            width:80%;
            margin: auto;
        }
    }
}

.partners{

    padding: 3rem 3rem 1rem;


    &__container{

        margin: 0;
        padding: 0;

        &--item{
            margin: 0;
            padding: 0;

            margin-top: 3rem;
            margin-bottom: 1rem;

            h2{
                font-size: 3rem;
                font-weight: 700;
            }

            p{
                font-size: 1.6rem;
            }

            img{
                margin: 0;
                padding: 0;
            }

        }

        @media (min-width: 576px){

            height: 22rem;
        }

        @media (min-width: 768px){

            height: 24rem;
        }
    }
}


@media (min-width: 768px){
    
    .how{
        padding: 3rem 3rem 0;
        font-size: 1.6rem;
        // color: white;
    
        &__container{
    
            &--box{
                margin-left: 3rem;
                border-radius: 2rem;
                padding: 3rem;
    
                img{
                    display: block;
                    margin: auto;
                }
    
                p{
                    width: 90%;
                    margin-top: 4rem;
                    // font-weight: 00;
    
                }
    
                .white_text{
                    color: white;
                }
            
            }
    
    
        
        }
    
        
    
    }
}