.headerGiftr{

    background-image: url("../../assets/Giftr/giftr_circlefade2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 3rem 0;

    &__container{
        position: relative;

        display: block;
        height: 90vh;

        &__choco-image{
            position: absolute;
            right: 1rem;
            top: 12rem;
        }

        &__navIcon{

            position: absolute;
            right: 1rem;
            top: .4rem;
            z-index: 3;
            // padding: .1rem;
            cursor: pointer;
    
            padding: 1rem 0 1rem 2rem;
    
            &--bar{
                height: .2rem;
                width: 2rem;
                background-color: black;
                // border-radius: 35%;
                display: inline-block;
                transition: all .7s ease-in-out;
            }
            
            &--bar::before, &--bar::after{
                position: absolute;
                right: 0;
                content: "";
                background: black;
    
                // border-radius: 25%;
                transition: all .5s ease-in-out;
            }
            
            &--bar::before{
                height: .2rem;
                width: 3rem;
                transform: translateY(-.6rem);
            }
            
            &--bar::after{
                height: .2rem;
                width:2.4rem;
                
                transform: translateY(.6rem);
            }
            
            &.open &--bar{
                transform: translateX(-50px);
                background: transparent;
                top: 0px;
            }
            
            &.open &--bar::before{
                transform: translate(45px, 1px) rotate(-45deg);
                background: white;
                width: 2rem;
            }
            
            &.open &--bar::after{
                transform: translate(45px, 1px) rotate(45deg);
                background: white;
                width: 2rem;
            }
            
            
        }

        &__social{
            position: absolute;
            bottom: 0;
            left:1.4rem;
    
            i{
                font-size: 1.7rem;
                display:block;
                color: #666;
                margin-top: .5rem;
            }
        }
        
    
        &__navLink{
            position: absolute;
            font-size: 1.6rem;
            right: 0;
    
            a{
                color: black;
            }
        }
        
        &__text {
            display: block;
            position: relative;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

    
            & span{
                display: block;
            }
    
            & span:nth-child(1){
                font-size: 5.5rem;
                font-weight: $Bold;
                letter-spacing: .3rem;
                text-align: center;
    
                @media (min-width:768px){
                    text-align: left;    
                }
            }

            & span:nth-child(2){
                font-size: 1.5rem;
                text-align: center;
                font-weight: 100;
                
                
                @media (min-width:768px){
                    font-weight: 300;
                    font-size: 1.6rem;
                    text-align: left;
                    width: 40%;
    
                }
            }
    
            p{
            font-size: 1.5vw;
            margin-top: 4rem;
            }
    
        }
    
        &__scroll{
            position: absolute;
            top: 35.3rem;
            left:-1.5rem;
            font-size: 1.7rem;
            transform: rotate(-90deg);
            cursor: pointer;
            span{
                padding-left: 1.7rem;
                font-weight: $Extra_Bold;
            }
        }
    
    
        &__logo{
            display: inline-block;
            position: absolute;
        }
    
        svg{
            position: absolute;
            top: 0;
            z-index: -1;
            left: 3rem;
        }
    }

    
}

.how{
    padding: 3rem 3rem 0;
    font-size: 1.6rem;
    // color: white;

    &__container{

        
        &--box{
            margin-top: 4rem;
            border-radius: 2rem;
            padding: 3rem;

            img{
                display: block;
                margin: auto;
            }

            p{
                width: 90%;
                margin-top: 4rem;
                // font-weight: 00;

            }

            .white_text{
                color: white;
            }
        
        }


    
    }

    

}

.rating{
    color: lightgrey;
    text-align: center;
    padding: 3rem 3rem 1rem;

    &__container{
        
        &--item{

            margin-top: 6rem;
            
            p{
                font-size: 5rem;
                line-height: 1.5rem;
                margin-top: 3rem;
            }
            
            span{
                font-size: 1.6rem;
                color: red;
            
                

            }
        }
    }
}


@media (min-width: 766px){
    
    .how{
        padding: 3rem 3rem 0;
        font-size: 1.6rem;
        // color: white;
    
        &__container{
    
            
            &--box{
                margin-left: 3rem;
                border-radius: 2rem;
                padding: 3rem;
    
                img{
                    display: block;
                    margin: auto;
                }
    
                p{
                    width: 90%;
                    margin-top: 4rem;
                    // font-weight: 00;
    
                }
    
                .white_text{
                    color: white;
                }
            
            }
    
    
        
        }
    
        
    
    }
}