.menu{
    color: white;
    // padding: 1rem;

    img{
        position: absolute;
        left: 2rem;
        top: 2rem;
    }

    & > a{
        font-size: 4rem;
        position: absolute;
        right: 2rem;
        color: white;
        top: 1rem;
    }
    
    div{
        transform: translate(0, 40%);
        margin:0;
        margin-left: 1rem;
        
        
        a{
            font-family: $Bold;
            font-size: 3rem;
            padding: 1rem;
            display: block;
            
        }
        
        p{
            margin-top: 1rem;
            font-size: 1.8rem;
        }
        
    }

}