.project {

    color: white;
    text-align: left;
    margin: 0;
    padding:0;

    height: 300rem;

    &__pack{ 
        opacity: 0;

        height: 40rem;
        // padding: 1rem;
        // margin: 2rem;

      background: red;
      border-radius: 2rem;
            padding: 2rem 1rem;

           
        &#card1{
            background: $blue;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &#card2{
            background: $purple;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &#card3{
            background: $lemongreen;
            margin-left: 1rem;
            margin-right: 1rem;

            // & img{
            //     transform: translate(56px, 88px) scale(1.8);
            // }
        }

        &#card4 {
            background: $darkgreen;
            margin-left: 1rem;
            margin-right: 1rem;

            // & img{
            //     transform:translate(80px, 59px) scale(1.8);
            // }
        }
        
        &#card5 {
            background: $purple;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        &#card6 {
            background: $blue;
            margin-left: 1rem;
            margin-right: 1rem;

            // & img{
            //     transform:translate(108px, 84px) scale(1.9)
            // }
        }



        

        &--card{

            position: relative;
            // width: 95%;
            // margin: auto;

            
            & h2{
                // margin-left: 3rem;
                font-size: 3rem;
                font-weight: $Bold;
            }

            & p{

                font-size: 1.2rem;
                font-weight: $Medium;
            }

            div{
                margin-left: 3.5rem;

               
            }

            img{
                position: relative;
                transform: translate(80px, 55px) scale(1.6);
            }
        }
    }
}

.section{

    padding: 2.4rem;

    h2{
        font-weight: $Bold;
        font-size: 3rem;
    }

    p{
        font-size: 1.4rem;
    }
}


.review {

    padding: 2.4rem;
    margin: 0;

    h2{
        font-weight: $Bold;
        font-size: 2.2rem;
        text-align: center;
    }

    &__comment{
        background: rgb(247, 246, 246);
        border-radius: 1rem;
        margin: 0;
        margin-top: 3rem;
        padding:1.5rem;
        font-size: 1.1rem;

        p{
            font-weight: $Bold;
            margin-top: 1.5rem;
            span{
                padding:0;
                font-weight: $Medium;            }
        }

        .fa{
            color:#eee;
            

        }

        p:last-child {
            font-weight: inherit;
        }

        .checked{
            color: rgb(226, 171, 151);
        }
    }
}


@media (min-width: 576px){

    .section{

        padding: 2.4rem;
    
        h2{
            font-weight: $Bold;
            font-size: 5rem;
        }
    
        p{
            font-size: 1.7rem;
        }
    }

    

    .project{

        height: 155rem;
    }
}

@media (min-width: 768px){
    .project{

        height: 150rem;
    }
}

@media (min-width: 992px){
    .project{

        height: 170rem;
    }
}

@media (min-width: 1200px){
    .project{

        height: 110rem;
    }
}


.cta {
    padding: 3rem;
    margin: 1.5rem -1.5rem;
    background: rgb(247, 246, 246);

    &__text{

        // padding: 2rem;
        
        h2{
            font-weight: $Bold;
            text-align: center;
            font-size: 3.2rem;
        }

        p{
            font-size: 1.4rem;
            margin-top: 2rem;
            font-weight: $Medium;
        }

        div span{

            text-align: center;
        }

    }

    &__btn{
        text-align: center;
        // width: 40%;
        // padding: 1rem;

        button{
            border: 1px solid black;
            background: transparent;
            width: 55%;
            padding: .8rem .6rem;

            a{
                color: black;
            }
        }

    }
}

@media (min-width: 576px){
    .cta{

        &__text{

            // padding: 2rem;
            
            h2{
                font-weight: $Bold;
                text-align: center;
                font-size: 3.2rem;
            }
    
            p{
                font-size: 1.7rem;
                margin-top: 2rem;
                font-weight: $Medium;
            }
    
            div span{
    
                text-align: center;
            }
    
        }
        // padding: 3rem 3rem 3rem 10rem;

        &__btn{
            margin-top: 5rem;    
        }
    }
}

@media (min-width: 768px){
    .cta{
        padding: 3rem 3rem 3rem 10rem;

        margin: 5rem -10rem;

        &__btn{
            margin-top: 5rem;
            
        }

        &__text{

            padding: 2rem;
            
            h2{
                font-weight: $Bold;
                text-align: center;
                font-size: 5rem;
            }
    
            p{
                font-size: 1.7rem;
                margin-top: 2rem;
                font-weight: $Medium;
            }
    
            div span{
    
                text-align: center;
            }
    
        }

        
    }
}

@media (min-width: 992px){
    .cta{
        margin: 5rem -10rem;
    }
}