.project {

    color: white;
    text-align: left;
    margin: 0;
    padding:0;

    height: 300rem;


    &__pack{ 

        height: 40rem;
        // padding: 1rem;
        // margin: 2rem;

      background: red;
      border-radius: 2rem;
            padding: 2rem 1rem;

           
        &#card1{
            background: $blue;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &#card2{
            background: $purple;
        }

        &#card3{
            background: $lemongreen;

        }

        &#card4 {
            background: $darkgreen;
        }
        
        &#card5 {
            background: $purple
        }
        &#card6 {
            background: $blue
        }



        

        &--card{

            position: relative;
            // width: 95%;
            // margin: auto;

            
            & h2{
                // margin-left: 3rem;
                font-size: 3rem;
                font-family: $Bold;
            }

            & p{

                font-size: 1.2rem;
                font-family: $Medium;
            }

            div{
                margin-left: 3.5rem;

               
            }

            img{
                position: relative;
                transform: translate(80px, 55px) scale(1.6);
            }
        }
    }
}

.section{

    padding: 2.4rem;

    h2{
        font-family: $Semi_Bold;
        font-size: 5rem;
    }

    p{
        font-size: 1.4rem;
    }
}


@media (min-width: 768px){
    .project{

        height: 120rem;
    }
}