
@font-face{
    font-family: Montserrat_xLight; 
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face{
    font-family: Montserrat_Regular;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face{
    font-family: Montserrat_Bold;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf')
}

@font-face{
    font-family: Montserrat_SemiBold;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf')
}

@font-face {
    font-family: Montserrat_Medium;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

